/*custom css*/

body {
	background-color: #e88c02;

}

.DrinkMenu li{
	color:white;
}

.DessertMenu li{
	color:white;
}

.navbar{
	background-color: black;
	border:solid;

}

.jumbotron{

	background-image: url("http://freebigpictures.com/wp-content/uploads/2009/09/dew-grass.jpg");
	border: solid;
	border-color:black;
}



.thumbnails p{
	color:black;
	text-align: left;
}

.modalbutton {
	text-align: center;
}

.modal-body {
	text-align: left;
}

.ContactInfo h1{
	color:#067A06;
}

.ContactInfo p{
	text-align: left;
}

.row h1, p{
	color:white;
	text-align: center;
}


.caption h1{
	color:white;
	text-align:center;

}
.caption p{
	color:black;
}

.navbar a{
	color:white;
}




