/*custom css*/

body {
	background-color: #AD8D2B;
}


.navbar{
	background-color: black;
	border:solid;

}

.jumbotron{

	background-image: url("http://www.samarindanews.com/wp-content/uploads/download-dew-on-grass-blades-hd-wallpaper-20150114083239-54b629a7b54a1.jpg");
	border: solid;
	border-color:black;
}


.row h1, p{
	color:white;
	text-align: center;
}


.caption h1{
	color:white;
	text-align:center;

}
.caption p{
	color:white;
}



.nav a{
	color:white;
}

.clasicos p{
	text-align: left;
}

.sandwich_types p{
	text-align: left;
}

.other_stuff p{
	text-align: left;

}
.menu-header h1{
	color:#067A06;
}